[2020-11-17 04:46] seungwonpark opened #1 "Sharing my interesting results with rectangle renderer"
Hi, thanks for open-sourcing the great work, and I just wanted to share my own results.
(I think it'll be great if there's a place for users to post their own results, which will be some kind of "open gallery")

The input was my profile picture (drawn with LuaTeX+TikZ before, which imitated the JOI logo - https://git.io/vQwmS)

![veydpz_input](https://user-images.githubusercontent.com/13394294/993

[2020-11-17 05:07] jiupinjia commented on #1
Hi, thanks for your result! To generate axis-aligned strokes, we need to add a constraint on the orientation of the stroke parameters. You can try: pt.x_ctt.data[:, :, -1] = torch.clamp(pt.x_ctt.data[:, :, -1], 0, 0)

I have uploaded a demo script on this feature (see demo_8bitart.py). I have the following results on my side. You can try it and tell me whether it works fine. Thanks!
![test_rendere

[2020-11-17 05:14] seungwonpark commented on #1
Great idea! It's working really well on my side, too. Thanks a lot.

[2020-11-17 05:14] #1 closed

[2020-11-18 03:01] zerollzeng opened #2 "Unable run demo on remote machine without desktop environment"
Hi @jiupinjia, good job! the result of your repo seems fantastic!
I try to run your demo on my remote GPU server which doesn't have a desktop environment(no x11 installed). and get the following error
[code]
Is there any way to solve this problem?

[2020-11-18 04:20] jiupinjia commented on #2
Hi, thanks for your valuable feedback! Since you are running on a remote machine, I believe the problem is in the image display during the runtime. Can you try "ctrl + f" and remove all the "cv2.imshow" code lines in the painter.py? Please tell me whether it works fine. Thank you!

[2020-11-18 06:18] zerollzeng commented on #2
Thanks for your fast response.
I comment all lines contain cv2.imshow and cv2.waitkey in painter.py, now I can run normally and get the correct output. it might be a good idea to comment these functions  by default since most people doing research or development on the remote server, Already created a PR to your repo, you may merge to the main branch if it's helpful.

[2020-11-18 07:48] Stocastico commented on #2
Maybe it's better to add a parameter show_output which, when set to true, displays the images, instead of just switching off image display functionality?

[2020-11-19 21:29] jiupinjia commented on #2
Yes, I will be adding a parameter in the config file to control the displays. Thank Stocastico for the suggestion.

[2020-11-19 21:32] jiupinjia commented on #2
Sorry, no config file here... I mixed up this project with another one. This parameter will be added to the arg parser.

[2020-11-20 02:00] jiupinjia commented on #2
Hi @zerollzeng and @Stocastico, the above feature has been added. Please check "Running through SSH" in the README file for details. I'm closing this issue. Please feel free the reach out to me if you have further questions. Thanks again for your valuable feedback.

[2020-11-20 02:01] #2 closed

[2020-11-20 07:16] Stocastico commented on #2
Thank you for the quick fix!
I will check and let you know if I spot any issues :-)

[2020-11-20 11:56] caishiqing opened #4 "package version"
Can you please give the exact version of each package on you envirnment?

[2020-11-20 14:04] jiupinjia commented on #4
Hi @caishiqing, thanks for your question. There is no specific version requirement for those packages. Once you have an anaconda installed first, they should work properly. If you still have a problem, you can update those packages to the latest version and try again.

[2020-11-21 10:42] WShihan opened #5 "Error:CUDA out of memory"
This project is so cool and I want to run it on my PC, I downloaded  the repo,configured and the  error(CUDA out of memory) occurred.I change max_m_strokes ，max_divide two  parameters, it works correctly, but the outpu is not meet my demand. I know nothing about the torch framework, can you help me to solve this problem, please ?

[2020-11-21 15:27] jiupinjia commented on #5
Thanks for your valuable feedback. Actually what you concerned about is exactly what I am working on these days. In the near further (hopefully next week), I will be adding a lightweight rendering model so that people with limited GPU memory can run smoothly on it and get high-resolution results. I will let you know when this feature is ready to use.

[2020-11-22 17:05] wby920920 opened #6 "Your project is great, but I get an error when I run the demo. What is the reason? Thanks a lot."
![image](https://user-images.githubusercontent.com/32837843/99910230-ceb6e800-2d27-11eb-9d8f-462d0d897a28.png)
Your project is great, but I get an error when I run the demo. What is the reason? Thanks a lot.

[2020-11-22 17:27] jiupinjia commented on #6
Hi, thanks for your feedback. It seems you are running in a CPU mode. Do you have a cuda device available?

[2020-11-22 17:38] wby920920 commented on #6
Yes, I found the same error when I started using gpu. Then I changed the device in the demo to cpu and the same error occurred.

[2020-11-22 19:27] wby920920 commented on #6
![image](https://user-images.githubusercontent.com/32837843/99914960-bcdf4000-2d3b-11eb-94d5-2d8ea6186351.png)

[2020-11-22 19:27] wby920920 commented on #6
![image](https://user-images.githubusercontent.com/32837843/99914969-ce284c80-2d3b-11eb-8321-183688cc4ef7.png)

[2020-11-22 20:51] jiupinjia commented on #6
It seems you are using a pretty old version of PyTorch. I just tried to downgrade my PyTorch and saw the same error as you did. I finally found that the problem lies in the inconsistency of the data type (cuda float32 vs cuda float 64) between the two variables (img_batch and G_final_pred_canvas). I have made a minor update on the initializing of the img_batch, and this time I believe the problem

[2020-11-23 06:26] wby920920 commented on #6
Thank you very much for your reply. But it is a pity that I cloned your project again, and the same error still appears. I am trying to update the pytorch installation package to the latest version.

[2020-11-23 14:24] jiupinjia commented on #6
Can you please show me your error report this time?

[2020-11-23 14:37] wby920920 commented on #6
Hello, first of all thank you for paying attention to my question. When I use the old version (pytorch1.2), an error occurs as shown in the figure. When I use the latest version of pytorch (1.7), the code can run smoothly.
![image](https://user-images.githubusercontent.com/32837843/99974852-7261d000-2ddc-11eb-893e-b02beff3167d.png)

[2020-11-23 15:12] jiupinjia commented on #6
It is weird that an older version of PyTorch still has such an error since I have made updates accordingly.
Can you show me what your line 241 of utils.py looks like? Thanks.

[2020-11-23 15:17] wby920920 commented on #6
I found that the project I downloaded is different from the 241 line on github. After I modified it, it can run with the old version of Pytorch. I am very sorry for the inconvenience caused by my negligence.

[2020-11-23 15:53] jiupinjia commented on #6
That's fine! Pls feel free to reach out to me if you have any further questions. Cheers!

[2020-11-25 05:36] terekita opened #7 "cannot to connect to x window error on google colab"
Great project!!!

I'm trying to train my own strokes on google colab. However, when I try to run the demo:

`!python demo.py --img_path ./test_images/sunflowers.jpg --canvas_color 'white' --max_m_strokes 500 --m_grid 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --output_dir ./output`

I get this error:
initialize network with normal
loading renderer from pre-tra

[2020-11-25 11:34] Zumbalamambo opened #8 "Error with Notebook"
It throws the following error,

[code]

[2020-11-25 16:36] jiupinjia commented on #8
Hi @Zumbalamambo, are u running on Colab or on your local machine with command? It seems that the checkpoint loader cannot find your pretrained model. Have you downloaded and unzip the pretrained renderers first? If you are running locally, can you show me which command are you using?

[2020-11-25 16:43] jiupinjia commented on #7
Hi @terekita, thanks for your feedback. Yes, you are right, the problem lies in the cv2.imshow() functions. Since u are running remotely, I would suggest you specify --disable_preview. I believe this would nicely solve your problem.
Please check out [this tag](https://github.com/jiupinjia/stylized-neural-painting#running-through-ssh) in the README file for more details.

[2020-11-25 21:15] terekita commented on #7
Thank you so much for your reply, and I apologize that I missed that import point in the readme! I am now able to train off my own images on colab. This is a completely awesome project, and many thanks for helping to run the code!

[2020-11-25 21:15] #7 closed

[2020-11-25 21:18] jiupinjia commented on #7
You're good! Also, congratulations on your successful run!

[2020-11-26 00:52] terekita commented on #7
Thanks! I had to go to the high-RAM session on colab pro, but having done that, it was all easy...Love this project!

[2020-11-26 01:11] jiupinjia commented on #7
Great! But if you are having an out of memory problem, you can wait a few days since I am now exactly working on solving this issue. I am now training some more lightweight renderers so that with them hopefully everyone can generate more detailed painting with limited GPU memory in their local machine.

[2020-11-26 07:31] JohnHack8 commented on #6
Good afternoon, your project is very interesting. I am new to computer vision, so there are a few questions.
1. The project will not work without CUDA, using CPU only?
2. What is an 'painter' in this line: from painter import *? Some kind of library?
Thanks.

[2020-11-26 16:42] jiupinjia commented on #6
Hi @JohnHack8, Thanks for your question. I strongly recommend using a GPU since the computation would be heavy for a CPU. The painter module imported here is exactly from the file painter.py. We need some prefined classes and functions to help with such a task. Thanks!

[2020-11-26 20:37] jiupinjia commented on #5
Hi @WShihan, a few updates have been made that I believe would be useful for you:
1. We have provided some lightweight renderers where users now can easily generate high-resolution paintings with much more stroke details. With the lightweight renders, the rendering speed also improves a lot (x3 faster). This update also solves the out-of-memory problem when running our demo on a GPU card with limi

[2020-11-26 20:39] jiupinjia commented on #7
Hi @terekita, a few updates have been made that I believe would be useful for you:

We have provided some lightweight renderers where users now can easily generate high-resolution paintings with much more stroke details. With the lightweight renders, the rendering speed also improves a lot (x3 faster). This update also solves the out-of-memory problem when running our demo on a GPU card with limit

[2020-11-26 21:18] terekita commented on #7
That is so awesome! Thank you so much for this wonderful project!

[2020-11-27 00:51] WShihan commented on #5
Thank you so much,

[2020-11-27 01:06] jiupinjia commented on #5
I'm closing this issue. Please feel free to leave your comment here if you have any future questions. Thanks!

[2020-11-27 01:06] #5 closed

[2020-11-29 02:48] dfaghani opened #9 "No GPU"
Hi,

Thanks indeed for your work.
I wanted to run a quick test on one of our virtual machines and got stuck as there is no GPU on the VM.
Is there a way I can run it without a GPU?

Many tanks in deed!
DF

[2020-11-29 11:11] wutti90 opened #10 "Error while rendering"
Hi,

Your project really looks stunning and I want to try it out on google colab. This is the code i run:

!python /content/stylized-neural-painting/demo_prog.py \
--img_path /content/stylized-neural-painting/test_images/apple.jpg \
--canvas_color 'white' \
--canvas_size 512 \
--max_m_strokes 500 \
--max_divide 5 \
--with_ot_loss \
--renderer "oilpaintbrush" \
--renderer_checkpoint_dir "checkpoint

[2020-11-29 18:25] ultramyslixs opened #11 "Error running demo script"
So when I tried to run the demo script from the github code, I got an error saying no module named torch. I tried installing torch using the command `pip install torch`, but got `ERROR: Command errored out with exit status 1`.

Error for running Demo Script:
`python demo_prog.py --img_path ./test_images/images.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush -

[2020-11-29 21:07] rezicG commented on #11
To install the torch dependencies you need to use the installation commands found here: [https://pytorch.org/](url)

[2020-11-29 22:05] ultramyslixs commented on #11
ok thank you!

[2020-11-29 22:05] #11 closed

[2020-11-29 22:42] ultramyslixs opened #12 "Run without NVIDIA Driver?"
Would there be any way to run the program without a NVIDIA Driver and NVIDIA GPU?

[2020-11-29 23:20] sirciro opened #13 "Help runnig in CPU"
(SNP2) C:\Users\Administrator\Nova pasta\SNP>python demo_prog.py --img_path ./test_images/1.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net --disable_preview
Traceback (most recent call last):
  File "demo_prog.py", line 4, in <module>
    torch.cuda.current_device()
  File "C:\Progr

[2020-11-30 00:50] jiupinjia commented on #9
Hi @dfaghani, thanks for your feedback. I strongly recommend running on a GPU machine since the computation would be heavy for CPUs. But anyway, I will be fixing this problem and make it compatible with a CPU machine tonight. I will let you know when it's ready to use.

[2020-11-30 01:03] jiupinjia commented on #10
Hi @wutti90, thanks for your feedback. It seems that your brush texture files haven't been correctly loaded.
Can you try `cd /content/stylized-neural-painting` first and then run `!python ./demo_prog.py` directly from the repo directory?

[2020-11-30 01:05] jiupinjia commented on #12
Hi @ultramyslixs, thanks for your question. We strongly recommend running on a GPU machine since the computation would be heavy for CPUs. But anyway, I will be fixing this problem and make it compatible with a CPU machine tonight. I will let you know when it's ready to use.

[2020-11-30 01:08] jiupinjia commented on #13
Hi @sirciro, thanks for your feedback. Currently, the code can only run on a GPU machine. I will be fixing this problem tonight and make it compatible with a CPU machine. I will let you know when it's ready to use.

[2020-11-30 02:12] ultramyslixs commented on #12
Ok, thank you!

[2020-11-30 02:12] #12 closed

[2020-11-30 03:11] jiupinjia commented on #12
Hi @ultramyslixs, PyTorch-CPU mode is now supported! You can try out on your local machine without any GPU cards. But please note that you still need PyTorch installed if you run on CPU mode. You can simply follow the instructions in the README file and the code will automatically detect whether there will be any GPU cards available. If there is no GPU, the code will run on the CPU automaticlly.

[2020-11-30 03:12] jiupinjia commented on #13
Hi @sirciro, PyTorch-CPU mode is now supported! You can try out on your local machine without any GPU cards. But please note that you still need PyTorch installed if you run on CPU mode. You can simply follow the instructions in the README file and the code will automatically detect whether there will be any GPU cards available. If there is no GPU, the code will run on the CPU automatically. Pleas

[2020-11-30 03:12] jiupinjia commented on #9
Hi @dfaghani, PyTorch-CPU mode is now supported! You can try out on your local machine without any GPU cards. But please note that you still need PyTorch installed if you run on CPU mode. You can simply follow the instructions in the README file and the code will automatically detect whether there will be any GPU cards available. If there is no GPU, the code will run on the CPU automatically. Plea

[2020-11-30 03:13] jiupinjia commented on #6
Hi @JohnHack8, PyTorch-CPU mode is now supported! You can try out on your local machine without any GPU cards. But please note that you still need PyTorch installed if you run on CPU mode. You can simply follow the instructions in the README file and the code will automatically detect whether there will be any GPU cards available. If there is no GPU, the code will run on the CPU automatically. Ple

[2020-11-30 04:39] ultramyslixs commented on #12
Thanks! Running this program currently and it looks really good! Is there any way to maximize the image while the image is being generated? At the moment the image is about 1 inch wide and 1 inch long.

[2020-11-30 11:48] JohnHack8 commented on #6
Hi jiupinjia. It's great news. Thanks!

[2020-11-30 11:58] #6 closed

[2020-11-30 14:13] dfaghani commented on #9
Hwllo,

Thank you for your quick response.
I am still getting error messages.
Will try to sort it out but might revert for more help!

Thank you again,
Best,
DF

[2020-11-30 15:17] jiupinjia commented on #12
Hi @ultramyslixs, I have made a minor update on the adjustable display window size. You can try again and adjust the window size as you want.

[2020-11-30 15:20] jiupinjia commented on #9
Hi @dfaghani, maybe you can post your error code here if you like. Me and other people are willing to help you.

[2020-11-30 17:35] ultramyslixs commented on #12
thank you so much!

[2020-12-01 01:42] dfaghani commented on #9
Thank you for your support!
Here is the error message.
Upfront thanks.
DF

(base) Y:\8000-Publique\DF_Publique\PYTHON\stylized-neural-painting>python demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net
C:\ProgramData\Anaconda3\lib\site-packages

[2020-12-01 01:54] jiupinjia commented on #9
Hi @dfaghani, it seems your pre-trained renderer can't be found. Have you downloaded those pre-trained models from Google Drive and unzip them to your repo folder?

[2020-12-01 14:15] dfaghani commented on #9
Hi,
You are absolutely right!
When I pulled the cpu version, I forgot to copy the renderers.
Many thanks!
It is running.
Eager to see the result :-)

Kind regards and keep going!
Best,
DF

[2020-12-01 15:36] jiupinjia commented on #9
@dfaghani haha, that happens! Congratulations!

[2020-12-01 15:36] #9 closed

[2020-12-01 15:38] z-spider opened #14 "i can not use GPU"
hello
I tested this project on both win10 powershell and WSL, but it always uses my poor cpu, but I don't know how to check the cause of this problem.
I tried to execute the following statement in python:
"import torch"
"print(torch.cuda.is_available())"
It returns true in Powershell and false in WSL.
Of course, I managed to execute the example, but it took quite a while.

So I need some help, tha

[2020-12-01 15:45] jiupinjia commented on #14
Hi @z-spider, if you got true from torch.cuda.is_available(), then the code will be running right on your GPU. Have you checked the GPU status like memory usage while running the code?

[2020-12-01 17:45] wutti90 commented on #10
Hello jui,

thank you for your help. I just was in the wrong directory! Now its working fine. The results are very nice. Even cleaner than through a multires neural style transfer due to the vector approach (I would assume, no expert by far). I really have to try it out with the neural style transfer which comes with it.

Thanks and have a nice day :)

[2020-12-01 17:45] #10 closed

[2020-12-01 18:00] jiupinjia commented on #10
Cheers! @wutti90

[2020-12-02 05:54] whuxxie commented on #14
me.too
when i run ,i says
Traceback (most recent call last):
  File "demo.py", line 4, in <module>
    torch.cuda.current_device()
  File "C:\Users\xxiew\AppData\Roaming\Python\Python37\site-packages\torch\cuda\__init__.py", line 384, in current_device
    _lazy_init()
  File "C:\Users\xxiew\AppData\Roaming\Python\Python37\site-packages\torch\cuda\__init__.py", line 186, in _lazy_init
    _check_d

[2020-12-02 06:27] jiupinjia commented on #14
Hi @whuxxie, thanks for your feedback. Can you try to clone this repo again and replace those py files in your local directory? I made an update yesterday where I have removed those torch.cuda.current_device() code lines.

[2020-12-02 06:57] Weej1 opened #15 "Assertion failed error"
Hi @jiupinjia

I am using Google Colab to run your light versions (specifically oilpaintbrush light) and everything ran fine till today - ~now I get an error like so~ disregard this thing about the error, Im an idiot, it was because I had not copied the source file into the correct directory.

Input:
`!python3 demo_prog.py --img_path ./test_images/papa2.jpg --canvas_color 'black' --max_m_strokes 1

[2020-12-02 07:23] jiupinjia commented on #15
You are good! Sometimes that also happens to me. Congratulations on your successful run! @Weej1

[2020-12-02 09:00] #15 closed

[2020-12-02 09:01] Weej1 commented on #15
Am dumb didn't copy file into the folder. Will raise another ticket for a different question.

[2020-12-02 11:14] z-spider commented on #14
I got true from the torch, but it still doesn't work.
This is my GPU, and I'm having no problems with memory usage.
Or is there anything else you'd recommend checking?
![image](https://user-images.githubusercontent.com/63305517/100865638-7e5e2980-348f-11eb-9ec7-b7719c16bda6.png)

[2020-12-02 14:44] jiupinjia commented on #14
Hi @z-spider, did you receive any error report while running? How long does it take to process one image?

[2020-12-03 01:21] whuxxie commented on #14
hi，i try just now ,it's ok,thank u very much.
without GPU,i find it very very slow.

[2020-12-03 03:18] z-spider commented on #14
I reinstalled the environment with conda and it now works, taking about thirteen minutes to process an image.
Before that, it took about several hours, which is too long.
I don't know why, but thanks again.

[2020-12-03 03:18] #14 closed

[2020-12-03 03:18] jiupinjia commented on #14
Yes it should be very slow on CPU. You can try to switch to lightweight renderers or using less strokes and see if there is any speed up.

[2020-12-03 04:13] LUOBOTA commented on #4
build the envirnment have losts problems. need to try different version. now, it's right but did't work

[2020-12-03 05:45] Zhenye-Na opened #16 "`AttributeError: 'ProgressivePainter' object has no attribute 'x'`"
Hello Zhengxia,

Thank you for creating this project, very interesting!

I spent some time playing around with the colab runtime 1, I tried to increase the default hyper-parameters by multiplying `2`, so far so good.

However,

[code]

I have updated the `args.canvas_size`, `args.max_m_strokes` by multiplying `2`, while `args.max_divide` from `10` to `15`, then in the "drawing" phase:

[code]

It

[2020-12-03 15:12] jiupinjia commented on #4
@LUOBOTA Thanks for your feedback. Can you describe your problem more clearly?

[2020-12-03 15:15] jiupinjia commented on #16
Hi @Zhenye-Na, thanks for your feedback. Can you try to restart the runtime and run from the beginning cell?

[2020-12-04 08:19] khawar512 opened #17 "Can we run demo file on video?"
I want to test the painting style in the video.

[2020-12-04 16:17] jiupinjia commented on #17
Hi @khawar512, running on videos is definitely a very good idea and worth trying. But unfortunately, this project doesn't support videos currently. Hopefully, we will be working on this feature in the near future. I will let you know when it is ready to use. Thanks!

[2020-12-04 20:57] sirciro commented on #13
Yes Yes now works perfectly, congratulations on your great work

and thanks for sharing with us.

[2020-12-04 22:31] #13 closed

[2020-12-05 04:14] khawar512 commented on #17
Thank you. I will be waiting for next version

[2020-12-07 02:59] vba34520 opened #18 "Can you share the paramater of the husky dog?"
Can you share the paramater of the husky dog?

<img src="https://user-images.githubusercontent.com/40198281/101304455-3ec28380-387b-11eb-96f3-ff158634c574.jpg" style="zoom:30%">

Thanks, Looking forward to your reply!

[2020-12-10 20:52] jiupinjia commented on #18
Hi @vba34520, sorry for the late response. You can try:
`python demo_prog.py --img_path ./test_images/dog.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net`
![dog_input](https://user-images.githubusercontent.com/51430557/101827616-8a389400-3afe-11eb-8e7f-031e9a45656f.png)
![dog_final_p

[2020-12-10 21:38] Zhenye-Na commented on #16
thans for the reply, I will try to re-run the colab notebook, will attach the error here if it appears again,

[2020-12-11 02:43] vba34520 commented on #18
Thank you so much!
Best wishes.

[2020-12-11 02:43] #18 closed

[2020-12-18 21:22] AntonSax opened #19 "ImportError: cannot import name 'PILLOW_VERSION'"
Trying to run the following line

`python demo_prog.py --img_path [MY_PICTURE] --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net`

Receiving this error:

[code]

[2020-12-18 21:42] AntonSax commented on #19
Found this github page:
[New Pillow version (7.0.0) breaks torchvision (ImportError: cannot import name 'PILLOW_VERSION' from 'PIL')](https://github.com/pytorch/vision/issues/1712)

And a workaround is just to downgrade pillow:
`pip install "pillow<7"`

[2020-12-18 21:43] #19 closed

[2020-12-19 01:35] Zhenye-Na commented on #16
still run into the same error:

[code]

maybe it is the size of the image I choose? you can review the colab notebook I used [here](https://colab.research.google.com/drive/1EBKKAO-zmpwQXb3CCa5hmsQamdZGc02x#scrollTo=7yGUv65G-UCm)

[2020-12-27 19:18] ak9250 opened #21 "update render.py to use lightweight version"
currently the light weight version are not supported
initialize network with normal
pre-trained renderer does not exist...

[2020-12-27 20:45] johndpope opened #22 "not an issue - fyi python imgcat"
it's possible to use ssh + in the python + https://pypi.org/project/imgcat/
it will render the image in the terminal for nix systems.

![image](https://user-images.githubusercontent.com/289994/103179471-9a16ed00-48e0-11eb-95a0-be7406a75824.png)

works really well.

[2020-12-30 10:21] hadaev8 opened #24 "Can i have smaller strokes for hi res images?"

[2021-01-01 23:47] jiupinjia commented on #21
Hi @ak9250, sorry for the late response. To use the lightweight version of the renders, you need to specify `--net_G zou-fusion-net-light`. You can try the following command and please let me know whether it works. Thanks.
`python demo_prog.py --img_path ./test_images/diamond.jpg --canvas_color 'black' --max_m_strokes 500 --max_divide 5 --renderer markerpen --renderer_checkpoint_dir checkpoints_G_

[2021-01-02 00:00] jiupinjia commented on #22
Hi @johndpope, thx for your advice! It looks really cool! We can leave this issue open and see if it will help others.

[2021-01-02 00:06] jiupinjia commented on #24
Hi @hadaev8, to generate smaller strokes, you can try lightweight renderers, set more strokes (e.g. `--max_m_strokes 1000`), and more divides (e.g. `--max_divide 8`) as long as your GPU memory can support them. You can try the following and please let me know if it helps:
`python demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --max_m_strokes 1000 --max_divide 8 --renderer o

[2021-01-03 09:56] hadaev8 commented on #24
@jiupinjia
Have you any numbers?
For example in colab demo image size 512x512 max_m_strokes 500 max_divide 8
For 1920x1080 does it mean I should have these values multiplied with factor 4?

[2021-01-05 07:23] Rabesque opened #25 "how to solve this problem"
[code]

[2021-01-06 15:28] zcdliuwei opened #26 "ask for advice"
Hello, What an interesting display!
Can the final rendered image be written into SVG？

[2021-01-07 00:41] jiupinjia commented on #24
@hadaev8, for a 1920x1080 image, you can try `--max_m_strokes 2000` and `--max_divide 8`, and see if your GPU can support them.

[2021-01-07 01:00] jiupinjia commented on #25
Hi @Rabesque, thanks for your feedback. It seems that your Pytroch was not correctly installed with proper Cuda backend support. Also, the code you're using seems pretty old and is far behind the latest committed version of this repo. You can try to update your code by `git clone https://github.com/jiupinjia/stylized-neural-painting.git `, and see if the problem can be solved.

[2021-01-07 01:12] jiupinjia commented on #26
Hi @zcdliuwei, that sounds like a great idea. I will be working on that in the near future! You can also update this part on your end and send me a pull request if you have any interest. Thanks for your suggestion!

[2021-01-07 02:55] zcdliuwei commented on #26
I'm a deep learning enthusiast from Hangzhou, China, and I'm very interested in the amazing effects you've shown,
I didn't know how to write pixel by pixel bitmaps to SVG。
Next, I'll take a closer look at your article and code，learn how vector rendering works.
Thank you again for your exciting work！

[2021-01-17 14:50] hadaev8 commented on #24
@jiupinjia
Should you advise why I can't have more than max_divide = 12
Is it intended?

[2021-01-17 14:56] jiupinjia commented on #24
You can of course try a max_divide number equal or larger than 12, as long as your GPU memory can support them.

[2021-01-17 17:08] hadaev8 commented on #24
@jiupinjia
How model choose stroke size?
What max_divide param mean?

[2021-01-17 17:51] jiupinjia commented on #24
@hadaev8
The parameter `max_divide` controls the resolution of each image block. For example, if you set ` max_divide=5`, then the image is first divided into 5x5=25 blocks and then the painting strokes will be generated for each of them separately.

[2021-01-19 16:52] yuyusmile opened #27 "RuntimeError: Error(s) in loading state_dict for ZouFCNFusionLight:"
python=3.6.2
torch=1.2.0
nvidia 2080ti 11G
cuda=10.0
cudnn=7..6.4.38
python demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush
initialize network with normal
loading renderer from pre-trained checkpoint...
Traceback (most recent call last):
  File "demo_prog.py", li

[2021-03-25 20:31] giodude12 opened #28 "Using Cpu instead of GPU?"
Hi, when i run the program it uses 80 percent of my cpu and almost no gpu. Renders take forever too. Is there a way that i can check to see if it's using my 2080ti? Can i force it to use my gpu? Thanks.

[2021-03-26 15:16] jiupinjia commented on #28
Hi @giodude12, thanks for your feedback. Did you install your pytorch-gpu and the cuda/drivers correctly? If they are correctly installed, you should be able to use your GPU for rendering under the default setting. If the rendering takes too long, it seems that you were using CPU for computation.

To check your GPU states, you may try the following command while running the code:
$nvidia-smi

Also

[2021-03-29 20:12] korronald opened #29 "Final output withot all generated frames"
Can I have Final output .png without video file and all other generated jpgs?

[2021-03-30 14:35] jiupinjia commented on #29
Hi @korronald, can you try to remove lines 142-144 of the file `painter.py`? Please tell me whether it works. Thanks.

[2021-04-02 09:24] DeclK commented on #16
It seems to be the problem of values below
--max_m_strokes 1000
--max_divide 15
I tried some different values, and I guess the max_m_strokes value has to be divisible by (max_divide * 50)? If you try --max_m_strokes 1500, that might work.

[2021-04-05 13:23] xmlv commented on #28
Hi, same issue with me.
I got a 'true' when call torch.cuda.is_available().
and feedback after type "nvidia-smi"
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 456.43       Driver Version: 456.43       CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id

[2021-04-12 05:55] xmlv commented on #28
resolved.

[2021-04-14 00:02] #16 closed

[2021-04-16 02:57] jiupinjia commented on #28
I'm closing this thread. Please let me know if you have any problems.

[2021-04-16 02:57] #28 closed, assigned to nobody

[2021-04-21 07:50] owlsoul0 commented on #29
Did it work? If you don't know I'll try it and let you know the results...

[2021-04-21 22:40] owlsoul0 commented on #29
I tried a simple edit (seen below) which only stores every tenth stroke, that way it takes up less storage and processing while still seeing a progression and all. It worked!
![image](https://user-images.githubusercontent.com/45566126/115629866-66365c00-a303-11eb-9396-45ab1fe39628.png)

[2021-04-21 23:57] jiupinjia commented on #29
Cheers! @owlsoul0

[2021-05-04 07:11] Crosser1902 opened #30 "Color block drifts"
After a piece of color block is drawn, it always drift in a little range.
Is there any way to fix the drawn color block and make it never move?

[2021-05-04 15:42] jiupinjia commented on #30
Hi @Crosser1902, thanks for your question. The animation with those twisted strokes you mentioned was only for preview during the rendering process. If you like to see your final video result, you can check out your './output' folder for the MP4 file.

[2021-05-04 17:55] Crosser1902 commented on #30
@jiupinjia Thanks for replying！

[2021-05-04 17:55] #30 closed, assigned to nobody

[2021-05-06 01:38] new-cainiao commented on #27
I also encountered the same question. Have you solved it?

[2021-05-06 03:36] jiupinjia commented on #27
@new-cainiao @yuyusmile Can you follow the README instruction and add `--net_G zou-fusion-net`? Thanks for your feedback. Please tell me whether it solves your problem.

[2021-05-06 09:41] Crosser1902 opened #31 "Just a little suggestion"
Is that technically possible that makes every stroke filled with only one single color？
I think it’s excellent for human to imitate and learn which would make this project more valuable.

Since I have not read the code yet, please forgive me for my whimsical dumb idea if it‘s totally impracticable.

[2021-05-06 14:49] jiupinjia commented on #31
@Crosser1902 Generating time-lapse for human imitation is definitely a great and inspiring idea! Whether is it possible to fill in each stroke with a single color - technically, I would say yes, but that will require some updates on the source code. Hope that in the near future I will add this feature. Thanks!

[2021-05-10 07:41] Crosser1902 commented on #31
Expecting!

[2021-05-10 07:41] #31 closed, assigned to nobody

[2021-05-11 10:00] Martinjennifergrant opened #32 "Some problem with pre-trained render file"
Hi, I am new here. I have a few problems with the pre-trained render file. I had download the pre-trained render file from the google drive and clone the repo. When I put the file into the repo and run the demo_prog file, it said pre-trained render file doesn't exist.

[2021-05-12 03:02] jiupinjia commented on #32
Hi @Martinjennifergrant, did you unzip your zip file to your repo folder? Also, would you like to show me your error report?

[2021-05-12 08:52] Martinjennifergrant commented on #32
I've already solved this problem. I guess it was my computer's problem? When I use the lightweight ones, it runs OK. Besides that I have another question, can I save the output before it finished the drawing? If I can, what should I enter. I am new to coding and sorry for having a lot of questions.

[2021-05-12 12:14] jiupinjia commented on #32
@Martinjennifergrant, I'm sorry but you can not save your outputs before finishing the whole rendering processing. The current version doesn't support this feature. BTW, glad to hear your problem has been solved. Cheers!

[2021-05-17 12:40] Kristren1024 opened #33 "ai绘画"

[2021-05-17 12:41] #33 closed, assigned to nobody

[2021-05-19 02:50] tychey opened #34 "Some thing about CUDA"
HI:

When I execute demo.py

I meet the bug as below:

`RuntimeError: CUDA out of memory. Tried to allocate 626.00 MiB (GPU 0; 8.00 GiB total capacity; 3.71 GiB already allocated; 469.62 MiB free; 5.58 GiB reserved in total by PyTorch)`

The model I choose is bigger one: `./checkpoints_G_oilpaintbrush`

The net_G I choose is **`zou-fusion-net`**

Hope your answer.

Thank you.

[2021-05-19 02:52] tychey commented on #34
I think maybe change the batch_size will help, but I didn't find it

should I increase or decrease the arg `m_grid`?

[2021-05-23 17:23] jiupinjia commented on #34
Hi, sorry for the late response.
You can try using a smaller stroke number, e.g., by reducing `--max_m_strokes` from 500 to 300.

Also you can try our lightweight renderer:
`python demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush_light --net_G zou-fusion-net-light

[2021-06-27 12:04] poioef commented on #24
请问light是有什么作用呢？

[2021-06-28 12:42] jiupinjia commented on #24
Hi @poioef, "light" is for lightweight rendering. If you have limited GPU memory or want a faster rendering speed, you can try those. Please see README for more details. Thanks!

[2021-06-29 08:11] poioef commented on #24
Thanks, but I've already seen README. I want to know if light will make the result worse.I am sorry for trouble you.

[2021-06-29 12:46] jiupinjia commented on #24
Hi @poioef, with lightweight rendering, the result will become slightly worse but it will also be much faster. Thanks!

[2021-07-08 08:10] Vincent630 opened #35 "can not download the pretrained model"
hi,for some reason i can not download pretrained models, sorrory to borther you but these is any other way to get the models?or if you can send pretrained models  to my email :1163766976@qq.com.i will appreciate it.

[2021-07-08 08:20] #35 closed, assigned to nobody

[2021-07-11 10:10] wzy0903 commented on #32
Hi，I have the same problem. I had download the pretrained model and put it on the chekpoint dir. when I run the demo_prog.py, it showd 'pre-trained renderer does not exist...'.
And I change the light model, this problem is also exist.

[2021-07-19 08:13] dreamer121121 opened #36 "About the training"
Nice job !, i wonder that what is your training datasets? I cant find in your paper and code

[2021-07-19 15:09] jiupinjia commented on #36
Hi @dreamer121121, thanks for your feedback. We don't have any offline datasets. The data pairs (rendered canvas and stroke parameters) are generated on the fly during the training process. Please see line 95-143 of utils.py for more details.

[2021-08-04 18:11] boboqazqaz opened #37 "how can i run this program on GPU?"
My GPU is gtx1070.
Can I run this program on GPU?
When I run this program.
The CPU is 100%   but  GPU only 5%，and also rendering is very slowly
Is that right？

[2021-08-04 18:45] jiupinjia commented on #37
Hi @boboqazqaz, thanks for your feedback, it seems you were not using your GPU. Did you install Pytorch-GPU and Cuda correctly?

[2021-08-04 19:35] boboqazqaz commented on #37
IT seems my cudatoolkit isn't right,
My GPU driver is 462.30  ，CUDAdrier is 11.2
but i use “conda install”  just  can install  cudatoolkit  10.2
I have to install cudatoolkit  11.2？

[2021-08-08 15:52] #37 closed, assigned to nobody

[2021-08-08 16:21] boboqazqaz opened #38 "About input photo pixel?"
Can I use photo pixel like 1280 * 720?
When I use `--canvas_size 720`
The photo size will be forced to be 720 * 720.
How to change the output photo size to 1280*720?

[2021-08-15 15:26] Prottoy2938 opened #39 "How to get video?"
I've been through the documentation and I'm having a hard time finding how do I get the video of the model doing live painting? [this.](https://github.com/jiupinjia/stylized-neural-painting#one-min-video-result)

Is there any google colab script that can help me with this?

[2021-08-18 09:17] #39 closed, assigned to nobody

[2021-09-05 18:51] BlexFx commented on #38
I also ran into this
why only width = height

[2021-10-26 01:33] jiupinjia commented on #38
Hi @BlexFx and @boboqazqaz, sorry for the late reply. You can try --keep_aspect_ratio if you want your aspect ratio unchanged. Please let me know if you have any further questions.

[2021-10-26 21:10] ugocapeto opened #41 "Brush stroke suggestion"
Instead of having a fully opaque brush stroke, would you consider a semi-transparent one, basically obtained by grayscaling a real brush stroke. Similar to what's being done here:

http://3dstereophoto.blogspot.com/2018/07/non-photorealistic-rendering-software.html

This a classic stroke based renderer which simulates oil painting/digital painting. Since not AI based, it probably creates too many

[2021-10-27 02:03] cucohhh opened #42 "Train problem with “pre-trained renderer does not exist...”"
When I　ｗａｎｔ　ｔｏ　ｔｒｉａｎ　ｔｈｅ　ｐｒｏｊｅｃｔ　，ｉｔ　ｔｅｌｌｓ　ｍｅ　“pre-trained renderer does not exist...”

[2021-10-27 02:28] cucohhh commented on #8
I have the same problems, and use the command
"python demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net"

I have downloaded and unzip the checkpoints_G_oilpaintbrush_light.zip,
I want run it on my own machine, may I use some other packages or

[2021-10-27 02:42] cucohhh commented on #32
I have the same problem with you ,may I know your method about how to solve it , thanks for your time.

[2021-10-27 13:42] cucohhh opened #43 "Application for cooperation"
Dear developer. I am a student of the University of the Chinese Academy of Sciences. My school held a public welfare competition with the theme of the integration of science and technology and art. Can Iuse the works drawn by this project to participate in a competition for the integration of science, technology and art? I want to make a comparison between AI painting and human painting .  I won't

[2021-10-27 14:38] BlexFx commented on #38
Hi @jiupinjia Thank you!
No questions yet
I will share my generations soon /ᐠ｡ꞈ｡ᐟ\

[2021-10-28 14:53] jiupinjia commented on #41
@ugocapeto Thank you very much for the reference. Their result looks cool. In fact, we do have a semi-transparent stroke setting. If you switch to our water-color or marker-pen brushes, then you will see that effect. In oilpainting, the reason why we don't apply that is that we want to have a thick paint effect.

[2021-10-28 14:55] jiupinjia commented on #42
Hi @cucohhh, did you download the pre-trained renderers?

[2021-10-28 14:59] jiupinjia commented on #8
Hi @cucohhh, did you unzip the checkpoint zip file to the right place? You can try to move the zip file to your repo folder first before unzipping them. Please let me know whether this helps.

[2021-10-28 15:05] jiupinjia commented on #43
Hi @cucohhh, thanks for your attention to our work. You are very welcome to use the figures and even the code as long as it is for non-commercial usages. Please cite our paper or this GitHub repo for your usage.  Thank you!

[2021-10-28 15:07] jiupinjia commented on #38
@BlexFx Cheers!

[2021-10-30 03:47] cucohhh commented on #43
Thanks for your help & support , The Github repo is indicated in the intorduction of the entries, I am very interested in computer vision and I learned many import skills from your project .
 Thank you again for your excellent project , I will continue to study more skills from this repo!

[2021-11-01 15:35] 0x-49 opened #44 "pre-trained renderer does not exist..."
this is thrown when I run the command
python demo_prog.py --img_path ./test_images/diamond.jpg --canvas_color 'black' --max_m_strokes 500 --max_divide 5 --renderer markerpen --renderer_checkpoint_dir checkpoints_G_markerpen --net_G zou-fusion-net --disable_preview

[2021-11-05 14:34] thuangb opened #45 "Advice on combining CLIP with the neural renderer"
Hi, this is an very interesting and impressive work in using AI for art. Now, as CLIP has created more and more astounding painting from text, I just want to ask some advice, if possible, on combining CLIP and your work together which can be very interesting. Thanks

[2021-11-08 11:55] jiupinjia commented on #44
Hi @MaximeYao, thanks for your feedback. Did you download the pre-trained renderers and unzipped them to the repo folder correctly?

[2021-11-08 12:44] jiupinjia commented on #45
Hi @thuangb, thanks for your suggestion. Yes, we can definitely add a CLIP loss to our framework. I believe it should work well although I haven't tried that. This would be interesting and worth trying. I will check this out in the near future and probably add this new feature to our method.

[2021-11-08 13:02] thuangb commented on #45
Hi, I just want to ask that what part I have to modify ? I think I must add an new CLIP loss in loss.py and modify the optimization loop in the demo files but I do not familiar with the neural renderer part in your code so I need some advice. Thanks. FYI, I think you can refer to this [repo](https://github.com/kvfrans/clipdraw) if you plan to add CLIP feature in the future.

[2021-11-17 09:11] cucohhh commented on #43
Hi @jiupinjia
Do you remember me? I have send a veido about how the AI painted a oil painting, as my Entries .

But my teacher said , if I want to  take part in this competition, I must have you authorization .  They worry that if I win the bonus, there may be economic disputes with you , althougth there won't be much money.  I am willing to share all the bonus with you . I just want to take part

[2021-11-17 10:48] jiupinjia commented on #43
Hi @cucohhh, nice to talk to you again! Yes, please feel free to go ahead with the competition. You don't need to share the bonus with me, though I really appreciate that you mentioned it. Do you have a PDF version of the document that I need to sign? You can send it to me and I will take a look. My email is zhengxiazou@gmail.com
Thank you for your notice.

[2021-11-17 11:34] cucohhh commented on #43
Hi @jiupinjia , I appreciate your support , I have send it to you .  I am so sorry to bother you.

[2021-11-18 02:50] mmandzz opened #46 "MacBook"
AssertionError: Torch not compiled with CUDA enabled

[2021-11-18 08:58] logos08 commented on #43
Greetings, @jiupinjia! You have done a great job with this project.
So, if the question is already rised, i wont to ask you too - can generated videos be used on, say, a YouTube channel? Or it is a private data?

[2021-11-19 00:16] jiupinjia commented on #45
Hi @thuangb, since almost everything in the rendering pipeline is differentiable, all you have to do is to add a CLIP similarity loss to the loss function part. I have been working on this recently. Hopefully, this feature will be available very shortly. I will let you know when it is ready.

[2021-11-19 00:26] jiupinjia commented on #43
Hi @logos08, thanks for your interest! Yes, you are very welcome for any non-commercial usage of the code. A youtube post will be good as long as the credit is properly claimed. Thanks again for asking.

[2021-11-19 00:28] jiupinjia commented on #46
Hi @mmandzz, did you install Cuda and a Cuda-compatible PyTorch correctly?

[2021-11-19 03:51] logos08 commented on #43
Okay, got it. Thanks for answer!

[2021-11-19 12:35] mmandzz commented on #46
i just have cpu,maybook doesnt have cpu .then can i run this project? the cuda i have lean about is for Nvidi .Hardware not supported? thanks your answer
<img width="578" alt="截屏2021-11-19 20 33 40" src="https://user-images.githubusercontent.com/92166323/142623513-3de45da2-b46b-4f39-b520-559fcb19d6e8.png">
a

[2021-11-19 12:35] mmandzz commented on #46
@jiupinjia

[2021-11-19 12:56] mmandzz commented on #46
It should be the hardware
thanks you answer,i wil try it by windows

Zhengxia Zou ***@***.***> 于2021年11月19日周五 上午8:28写道：

[2021-11-21 01:56] Miata1z opened #47 "intersection brushstroke question"
Hello, Sir. I am trying to physically recreate the "sketch" that made the model (markerpen). I chose the markerpene because in the process it will be convenient to decompose it into vectors/points (pic 1). I am going to paint with acrylic/oil, but this type of paint(acrylic/oil) cannot physically replicate it (pic 2, I called effect - intersection brushstroke). I cannot ignore it because it will a

[2021-11-24 02:30] jiupinjia commented on #47
Hi @Miata1z, the physical implementation seems to be an interesting idea!

To remove the semi-transparent effect, you can modify line 293 and line 314 of networks.py to the follows:
if self.rdrr.renderer in ['oilpaintbrush', 'airbrush', 'markerpen']:

Please tell me whether it works. Thanks!

[2021-11-24 22:12] Miata1z commented on #47
Hello! The modifications that you suggested to me did not help me (I am attaching a video before / after modification networks.py). At first I was delighted when I saw how the result was rendered in the _G_pred_ window, although at the end the model produced something completely different :) (Pic 1). Hence the question, the _G pred_ generation window did not take into account the edits that I made

[2021-11-26 03:36] jiupinjia commented on #47
@Miata1z, sorry it was my bad. You can ignore my last suggestion and update the line 64 and line 94 of demo_prog.py to:
pt.x_alpha.data = torch.clamp(pt.x_alpha.data, 0.99, 1)

This will constraint the alpha value of the strokes close to 1.0 both in the optimization and the final rendering phases.

Please let me know whether it helps this time.

[2021-11-26 03:41] jiupinjia commented on #47
@Miata1z By the way, I think your idea of physical painting with a robot arm is amazing. I really want to see if you can achieve that. Would you like to share the physical painting results with me when it is ready? No matter it succeeds or not will be interesting.

[2021-11-26 16:27] Miata1z commented on #47
Of course I will. In turn, I want to say that without your repository nothing would have happened :)

[2021-11-27 15:31] Miata1z commented on #47
Thanks. That helped. Result (face animated/strokes) https://drive.google.com/file/d/1vyaX9WcVYSJw0C3IqoT806EakZ-vIUDF/view?usp=sharing

If you don't mind, I have a couple more questions :)
Could you tell me how to save generation strokes separately?
![image](https://user-images.githubusercontent.com/94769375/143320746-89c2264d-e0e0-4637-b558-065f3c430478.png)

I don't think this will affect the re

[2021-11-28 03:32] liuzu604 opened #48 "brush_alpha erro"
Hi, The program I run returned an error message:

File "utils.py" line 286, in create_transformed_brush
brush_alpha = (brush_alpha > 0).astype(np.float32)
TypeError: '>' not supported between instances of 'NoneType' and 'int'

command:
python ../stylized-neural-painting/demo_prog.py --img_path ../stylized-neural-painting/test_images/apple.jpg --canvas_color 'white' --max_m_strokes 500 --max_divide

[2021-11-30 02:38] jiupinjia commented on #48
Hi @liuzu604, it seems the stroke files were not loaded correctly. Can you first cd to the repo dir and then run your command? Please let me know whether it works. Thanks!

[2021-11-30 07:42] liuzu604 commented on #48
Hi @jiupinjia ，Maybe it's my download problem. I didn't download stroke files from Google Drive , but from Baidu online disk of other bloggers. When I replace "--renderer oilpaintbrush" with "--renderer watercolor" , it can work normally.

Thanks!

[2021-12-02 14:55] jiupinjia commented on #47
@Miata1z, good questions are sorry for the late reply.

For the step-by-step strokes, you can find them in the `./output` folder. If you load the stroke vector file `./output/*_strokes.npz` correctly, you will see the step-by-step parameters. You can refer to line 377-386 of `./painter.py` for more details.

For the configuration of the stroke coordinates, you can refer to the supplementary materi

[2021-12-03 01:03] fearboo opened #49 "Google drive not letting me download the oil pretrained"
Google drive not letting me download the oil pretrained

are you over limit or something?

I can't seem to download OIl and Color Tape pretrained.

I get an error from Google drive

[2021-12-03 02:21] fearboo commented on #49
problem was on my end. sorry.
maybe it was the vpn

[2021-12-03 02:21] #49 closed, assigned to nobody

[2021-12-12 23:01] metaphorz opened #50 "Style Transfer Colab Notebook error"
The first part of the image-to-painting-nst.ipynb works fine since this is creating a painting
through brush strokes and then a video.

The second part is the style transfer code, and I am getting an error here:
<img width="1318" alt="Screen Shot 2021-12-12 at 4 57 40 PM" src="https://user-images.githubusercontent.com/3519631/145733087-1573938d-d716-4156-aa54-235bf9a42207.png">

[2021-12-13 02:13] jiupinjia commented on #50
Hi @metaphorz, thanks for your feedback. It seems your style image isn't loaded correctly. Did you check your `arg.style_img_path` before loading it?

[2021-12-13 05:28] metaphorz commented on #50
You are right. I had a mistake in the style file spec.

[2021-12-13 05:28] #50 closed, assigned to nobody

[2022-01-25 06:50] moe001 opened #51 "文件版许可证与readme中的内容不符"
readme中指定了许可证为NC版本，但附带的LICENSE是CC0，请问代码是以哪个为准？

[2022-01-27 03:38] jiupinjia commented on #51
Hi, sorry for the confusion caused. Please go with the NonCommercial (NC) license. If there is any commercial purpose, please let me know. Thank you!

[2022-01-29 23:42] FoxMoss opened #52 "Rendering Vector To Image"
I've been digging around the code a bit trying to figure out how to take the npz files and render them out. Any ideas / solutions?

[2022-02-12 05:44] MorganRO8 commented on #8
I had the same issue, make a copy of the notebook in drive, I just totally forgot.

[2022-02-17 15:32] #8 closed

[2022-04-17 16:09] WeiDante commented on #44
i did is, this is just for show i gess

[2022-04-21 04:15] hensiesp32 opened #53 "About training new painting styles"
Hello, your work is very creative, but I found that you didn't have train dataset, so how did you train the strokes of different painting styles? If I want to train a Chinese style painting stroke, what should I do? Hope your reply. Thanks so much!

[2022-04-26 15:23] takax2021 commented on #44
Colab notebook fails to download pre-trained data.

zip from Google Drive is not correct zip file.
It only contains html text.
"Google Drive - Virus scan warning"

[2022-04-27 01:56] takax2021 commented on #44
I have added "confirm=t" to request parameters.
It works now.

response = session.get(URL, params = { 'id' : id, 'confirm' : 't' },

[2022-05-02 03:25] jiupinjia commented on #53
Hi @hensiesp32, thanks for your questions and sorry for the late response. When training the neural renderer, the dataset is generated on-the-fly. Please see the dataset class (line 95 in utils.py) for more details.
If you want to train your own stroke style, you may customize the dataset class in your own way. Thanks for your interest.

[2022-05-03 03:25] zhangfc7 opened #54 "style transfer in demo_nst.py"
When I run demo_nst.py for style transfer as described in the readme.md, I get incorrect results, what should I do? Thanks
![sunflowers_style_transfer_fire](https://user-images.githubusercontent.com/32735443/166401101-056037d9-ca57-4947-9567-c4f548ef1003.png)

[2022-05-05 06:29] #54 closed, assigned to nobody

[2022-06-02 12:15] someonegirl opened #55 "ImportError: cannot import name 'is_url' from 'runway.utils'"
D:\anoconda\envs\dualstylegan_env1\python.exe C:/Users/lxx/Desktop/stylized-neural-painting-main/stylized-neural-painting-main/runway_model.py
Traceback (most recent call last):
  File "C:/Users/lxx/Desktop/stylized-neural-painting-main/stylized-neural-painting-main/runway_model.py", line 6, in <module>
    import runway
  File "D:\anoconda\envs\dualstylegan_env1\lib\site-packages\runway\__init__.

[2022-06-02 12:17] #55 closed, assigned to nobody

[2022-06-03 07:32] tyrionhuu commented on #38
I used --keep_aspect_ratio and the canvas was still square. What had I done wrong?(･_･;
python3 demo_prog.py --img_path ./test_images/apple.jpg --canvas_color 'white' --keep_aspect_ratio --max_m_strokes 500 --max_divide 5 --renderer oilpaintbrush --renderer_checkpoint_dir checkpoints_G_oilpaintbrush --net_G zou-fusion-net
（I change the size of apple.jpg. ）

[2022-06-14 18:16] PrithviPrajapati opened #56 "Graphics card not working"
I have followed all the step as you mentioned in your video but my system didn't using graphics card when rendering the photo and its taking too much time to render. I have used the same joker image for trail and used brush strokes to 500 and divide to 5 and it took almost half and hour to render.
I have NVIDIA RTX 3080 12 gb.

[2022-07-06 11:05] MADONOKOUKI opened #57 "The difference of _render and _drawing_step_states"
I tried to use the [stylized-neural-painting](https://github.com/jiupinjia/stylized-neural-painting) code and saw that _render and _drawing_step_states in painter.py is somewhat different. Does anyone know this reason?

[2022-07-14 23:17] vshesh opened #58 "Cannot find zipfile directory"
Hi,

Thanks for the great work!

Was trying to run the model using your demo colab notebook. I get stuck on the part where I need to download and unzip the checkpoint file. The unzip command gives:

[code]

Any idea how I can fix this? I tried wget for the same file and no luck there either.

[2022-07-15 02:14] jiupinjia commented on #58
Hi @vshesh, Thanks for your feedback. Now it is fixed.

[2022-07-15 03:45] vshesh commented on #58
thanks!
it works for the main renderers, but I still get the same error for the lightweight renderers
(just copied id from the gdrive link and tried to download - same cannot find zip file error persists. Your links work though so maybe I just didn't do something right)

[code]

[2022-08-08 15:36] mjaber95 opened #59 "Limiting brush stroke sizes"

[2022-09-05 02:15] #59 closed, assigned to nobody

[2022-09-18 14:29] TZYSJTU opened #60 "2 Questions about the method of this paper"
Nice Job!
I would like to ask two questions about the paper? Please just tell me in principle, Thanks!
1. How to initialize the strokes? The strokes are initialize one by one or all togethor?
2. How to generate the results that transfer color only?

[2022-11-14 13:43] dadasx opened #61 "Ask some questions about this project"
Ask if the G_loss variable in this project refers to the loss of the generator?

In addition, I would like to ask where D_loss is written? I don't seem to see it.